.background {
    -fx-background-color: rgb(35, 46, 33);
}

.hovered {
    -fx-background-color: rgb(19, 170, 17);
}

.outOfBounds {
    -fx-background-color: red;
}

.occupied {
    -fx-background-color: rgb(57, 51, 51);
}